.product {

}

.product img {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 7px 7px 7px 0;
}

.product img:hover {
    box-shadow: 0 0 2px 1px #dddddd;
}

.product td {
    text-align: justify;
}